[package]
authors = ["The Veracruz Development Team"]
description = "WASM execution engine for the trusted Veracruz runtime"
edition = "2018"
name = "execution-engine"
version = "0.3.0"

[features]
default = []
icecap = [
  "platform-services/icecap",
  "policy-utils/icecap",
]
nitro = [
  "platform-services/nitro",
  "policy-utils/std",
  "wasmtime",
]
std = [
  "platform-services/std",
  "policy-utils/std",
  "wasmtime",
]

[dependencies]
anyhow = { version = "1.0", default-features = false }
byteorder = "1.4.3"
cfg-if = "1"
ctor = "=0.1.16"
err-derive = "0.2"
lazy_static = { version = "1.4.0", features = ["spin_no_std"] }
num = { version = "0.4", default-features = false }
num-derive = { version = "0.3", default-features = false }
num-traits = { version = "0.2", default-features = false }
platform-services = { path = "../platform-services" }
policy-utils = { path = "../policy-utils" }
serde = { git = "https://github.com/veracruz-project/serde.git", features = ["derive"], branch = "veracruz" }
typetag = "0.1.4"
wasi-types = { git = "https://github.com/veracruz-project/wasi-types.git", branch = "veracruz" }
wasmi = { git = "https://github.com/veracruz-project/wasmi.git", branch = "veracruz" }
wasmtime = { git = "https://github.com/veracruz-project/wasmtime.git", branch = "veracruz", optional = true }
wast = "=35.0.0"

[lib]
name = "execution_engine"
path = "./src/lib.rs"

[patch.crates-io]
serde = { git = "https://github.com/veracruz-project/serde.git", branch = "veracruz" }
