[submodule "psa_attestation/lib/QCBOR"]
	path = psa-attestation/lib/QCBOR
	url = https://github.com/veracruz-project/QCBOR.git
	branch = master
[submodule "psa_attestation/lib/t_cose"]
	path = psa-attestation/lib/t_cose
	url = https://github.com/veracruz-project/t_cose.git
[submodule "veracruz-mcu-client/nanopb"]
	path = veracruz-mcu-client/nanopb
	url = https://github.com/nanopb/nanopb
[submodule "third-party/nitro-enclave-attestation-document"]
	path = third-party/nitro-enclave-attestation-document
	url = https://github.com/veracruz-project/nitro-enclave-attestation-document.git
	branch = veracruz-v2
[submodule "third-party/wasi-types"]
	path = third-party/wasi-types
	url = https://github.com/veracruz-project/wasi-types.git
	branch = veracruz
[submodule "third-party/wasmi"]
	path = third-party/wasmi
	url = https://github.com/veracruz-project/wasmi.git
	branch = veracruz
[submodule "third-party/rust-mbedtls"]
	path = third-party/rust-mbedtls
	url = https://github.com/veracruz-project/rust-mbedtls.git
	branch = veracruz
