[submodule "psa_attestation/lib/QCBOR"]
	path = psa-attestation/lib/QCBOR
	url = https://github.com/veracruz-project/QCBOR.git
    branch = master
[submodule "psa_attestation/lib/t_cose"]
	path = psa-attestation/lib/t_cose
	url = https://github.com/veracruz-project/t_cose.git
    branch = master
[submodule "psa_attestation/lib/mbed-crypto"]
	path = psa-attestation/lib/mbed-crypto
	url = https://github.com/veracruz-project/mbed-crypto.git
    branch = veracruz
[submodule "sdk/rustlib/veracruz-getrandom"]
	path = sdk/rust-language-support/random/veracruz-getrandom
	url = https://github.com/veracruz-project/getrandom.git
    branch = master
[submodule "sdk/rustlib/veracruz-rand"]
	path = sdk/rust-language-support/random/veracruz-rand
	url = https://github.com/veracruz-project/rand.git
    branch = master
[submodule "third_party/rust-sgx-sdk"]
	path = third-party/rust-sgx-sdk
	url = https://github.com/veracruz-project/incubator-teaclave-sgx-sdk.git
    branch = veracruz
[submodule "docker"]
	path = docker
	url = https://github.com/veracruz-project/veracruz-docker-image.git
    branch = main
