\#*\#
*.DS_Store
*~
*.o
*.d
*.aux
*.aux.bbl
*.bbl
*.bcf
*.log
*.out
*.pdf
*.run.xml
*.synctex.gz
*.toc
*.blg
*.s
*.swp
*.swo
*.bin
*.png
*.dat
*.txt
*.csv
/example/**
**/target/**
test-collateral/*.dat
test-collateral/*.json
test-collateral/*.wasm
test-collateral/invalid_policy/**
test-collateral/idash2017/
test-collateral/macd/
test-collateral/private-set-inter-sum/
test-collateral/number-stream/
test-collateral/pgen
*.vscode/
*.orig
veracruz-server/fuzz/*
sdk/data-generators/**/*.dat
sdk/data-generators/**/*.txt
sdk/data-generators/idash2017-logistic-regression-generator/*.csv
*.ta
sdk/datasets/
sdk/target
*/.idea/
*/*/.idea/
build/**

execution-engine/Cargo.lock
icecap-runtime-manager/Cargo.lock
icecap-veracruz-server/Cargo.lock
io-utils/Cargo.lock
linux-runtime-manager/Cargo.lock
linux-veracruz-server/Cargo.lock
nitro-runtime-manager/Cargo.lock
nitro-veracruz-server/Cargo.lock
platform-services/Cargo.lock
policy-utils/Cargo.lock
psa-attestation/Cargo.lock
runtime-manager/Cargo.lock
session-manager/Cargo.lock
tests/Cargo.lock
transport-protocol/Cargo.lock
veracruz-client/Cargo.lock
veracruz-server/Cargo.lock
veracruz-utils/Cargo.lock
