[submodule "psa_attestation/lib/QCBOR"]
	path = psa-attestation/lib/QCBOR
	url = https://github.com/veracruz-project/QCBOR.git
    branch = master
[submodule "psa_attestation/lib/t_cose"]
	path = psa-attestation/lib/t_cose
	url = https://github.com/veracruz-project/t_cose.git
    branch = master
[submodule "psa_attestation/lib/mbed-crypto"]
	path = psa-attestation/lib/mbed-crypto
	url = https://github.com/veracruz-project/mbed-crypto.git
    branch = veracruz
[submodule "third_party/rust-sgx-sdk"]
	path = third-party/rust-sgx-sdk
	url = https://github.com/veracruz-project/incubator-teaclave-sgx-sdk.git
    branch = veracruz
[submodule "docker"]
	path = docker
	url = https://github.com/veracruz-project/veracruz-docker-image.git
    branch = main
[submodule "veracruz-mcu-client/nanopb"]
	path = veracruz-mcu-client/nanopb
	url = https://github.com/nanopb/nanopb
[submodule "icecap/icecap"]
	path = icecap/icecap
	url = https://gitlab.com/arm-research/security/icecap/icecap.git
[submodule "icecap/deps/wasmtime"]
	path = icecap/deps/wasmtime
	url = git@github.com:nspin/wasmtime.git
[submodule "icecap/deps/atty"]
	path = icecap/deps/atty
	url = git@gitlab.com:arm-research/security/icecap/internal/archive/obsolete/minor-patches/rust/atty.git
[submodule "icecap/deps/errno"]
	path = icecap/deps/errno
	url = git@gitlab.com:arm-research/security/icecap/internal/archive/obsolete/minor-patches/rust/errno.git
[submodule "icecap/deps/directories"]
	path = icecap/deps/directories
	url = git@gitlab.com:arm-research/security/icecap/internal/archive/obsolete/minor-patches/rust/directories.git
