\#*\#
*.DS_Store
*~
*.o
*.d
*.aux
*.aux.bbl
*.bbl
*.bcf
*.log
*.out
*.pdf
*.run.xml
*.synctex.gz
*.toc
*.blg
*.s
*.swp
*.swo
*.bin
*.png
*.dat
*.txt
*.csv
*.vscode/
*.orig
*.ta
*/.idea/
*/*/.idea/
**/target/**
crates/**/Cargo.lock
build/**
