[package]
authors = ["The Veracruz Development Team"]
description = "Client code for provisioning secrets into, and otherwise interacting with, the trusted Veracruz runtime"
edition = "2018"
name = "veracruz-client"
version = "0.3.0"

[[bin]]
name = "veracruz-client"
path = "src/cli.rs"
required-features = ["cli"]

[features]
# a feature to enable CLI-only dependencies
# https://stackoverflow.com/questions/35711044/how-can-i-specify-binary-only-dependencies
cli = ["structopt", "env_logger"]
icecap = []
linux = []
nitro = []

[dependencies]
base64 = "0.13.0"
curl = "0.4.43"
env_logger = { version = "0.9.0", optional = true }
err-derive = "0.2"
hex = "0.4.2"
log = "0.4.13"
policy-utils = { path = "../policy-utils", features = ["std"] }
rand = "0.8.3"
reqwest = { version = "0.9", default-features = false }
ring = "0.16.20"
# The cargo patch mechanism does NOT work when we add function into a macro_rules!
rustls = "0.20.4"
rustls-pemfile = "0.3.0"
serde_json = "1.0"
structopt = { version = "0.3", optional = true, features = ["wrap_help"] }
transport-protocol = { path = "../transport-protocol" }
veracruz-utils = { path = "../veracruz-utils", features = ["std"] }
webpki = "0.22"
webpki-roots = "0.22"
x509-parser = "0.13.0"

[dev-dependencies]
actix-http = "2.2.0"
actix-rt = "1.1.1"
actix-session = "0.4.1"
actix-web = "3.3.2"
futures = "0.3"
