# workspaces/icecap-runtime/Cargo.toml:
# Workspace for trusted IceCap services
#
# AUTHORS
#
# The Veracruz Development Team.
#
# COPYRIGHT
#
# See the `LICENSE_MIT.markdown` file in the Veracruz root director for licensing
# and copyright information.

cargo-features = ["resolver"]

[workspace]
exclude = [
  "crates/icecap/sysroot/libc",
  "crates/third-party/rust-mbedtls",
  "crates/third-party/wasmi",
  "crates/runtime-manager",
]
members = [
  "crates/icecap-runtime-manager",
  "src/virtio-console-server",
]
resolver = "2"

[profile.release]
codegen-units = 1
lto = true
opt-level = 3

[patch.crates-io]
libc = { path = "crates/icecap/sysroot/libc" }
