# workspaces/applications/Cargo.toml:
# Workspace for test applications
#
# AUTHORS
#
# The Veracruz Development Team.
#
# COPYRIGHT
#
# See the `LICENSE_MIT.markdown` file in the Veracruz root director for licensing
# and copyright information.

cargo-features = ["resolver"]

[workspace]
members = [
  "crates/examples/rust-examples/aesctr-native",
  # "crates/examples/rust-examples/audio-event-triangulation",
  "crates/examples/rust-examples/darknet-inference-native",
  "crates/examples/rust-examples/fd-create",
  "crates/examples/rust-examples/file-seek",
  "crates/examples/rust-examples/huffman-encoding",
  "crates/examples/rust-examples/idash2017-logistic-regression",
  "crates/examples/rust-examples/image-processing",
  "crates/examples/rust-examples/intersection-set-sum",
  "crates/examples/rust-examples/linear-regression",
  "crates/examples/rust-examples/logistic-regression",
  "crates/examples/rust-examples/moving-average-convergence-divergence",
  "crates/examples/rust-examples/nop",
  "crates/examples/rust-examples/number-stream-accumulation",
  "crates/examples/rust-examples/postcard-native",
  "crates/examples/rust-examples/postcard-wasm",
  "crates/examples/rust-examples/prime-numbers-generator/generate-set",
  "crates/examples/rust-examples/prime-numbers-generator/keep-primes",
  "crates/examples/rust-examples/private-set-intersection",
  "crates/examples/rust-examples/private-set-intersection-sum",
  "crates/examples/rust-examples/random-source",
  "crates/examples/rust-examples/random-u32-list",
  "crates/examples/rust-examples/read-file",
  "crates/examples/rust-examples/shamir-secret-sharing",
  "crates/examples/rust-examples/sort-numbers",
  "crates/examples/rust-examples/string-edit-distance",
  "crates/examples/rust-examples/string-search",
  "crates/examples/rust-examples/tflite-inference-native-mnist",
]
resolver = "2"

[profile.release]
codegen-units = 1
lto = true
opt-level = 3
