[package]
authors = ["The Veracruz Development Team"]
description = "A utility for encoding CSV-structured data into the binary `postcard` format.  Provides means of selecting columns and skipping incomplete rows."
edition = "2018"
name = "csv-encoder"
version = "0.3.0"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap       = "2.33.0"
csv        = "1.0"
env_logger = "0.7.1"
log = "0.4.8"
postcard = { version = "0.7.2", features = [ "alloc" ] }
toml = "0.5.6"

[profile.release]
codegen-units = 1
lto = true
opt-level = 3
