[package]
authors = ["The Veracruz Development Team"]
description = "Miscellaneous code related to the Veracruz policy."
edition = "2018"
name = "policy-utils"
version = "0.3.0"

[features]
icecap = ["ring"]
std = ["serde/std", "serde_json/std", "ring", "x509-parser", "rustls"]

[dependencies]
err-derive = { version = "0.2", default-features = false }
hex = { version = "0.4.2" }
lexical-core = { version = "0.8.2", default-features = false }
ring = { git = "https://github.com/veracruz-project/ring.git", version = "=0.16.11", branch = "veracruz", optional = true }
rustls = { git = "https://github.com/veracruz-project/rustls.git", branch = "veracruz", optional = true }
serde = { git = "https://github.com/veracruz-project/serde.git", features = ["derive"], branch = "veracruz" }
serde_json = { git = "https://github.com/veracruz-project/json.git", branch = "veracruz", default-features = false }
wasi-types = { git = "https://github.com/veracruz-project/wasi-types.git", branch = "veracruz" }
x509-parser = { version = "0.12.0", optional = true }
