[package]
authors = ["The Veracruz Development Team"]
build = "build.rs"
description = "Veracruz protocol message wire-format parsing and serialization code for the trusted Veracruz runtime"
edition = "2018"
name = "transport-protocol"
version = "0.3.0"

[features]
icecap = []

[dependencies]
err-derive = "0.2"
protobuf = "=2.8.1"

[build-dependencies]
protoc-rust = "=2.8.1"
