[package]
authors = ["The Veracruz Development Team"]
description = "An abstraction layer for various isolation technologies.  Exposes a uniform interface to the various Veracruz libraries for accessing hardware/TEE-specific functionality that differs between isolation technology."
edition = "2018"
name = "platform-services"
version = "0.3.0"

[features]
default = []
icecap = []
nitro = ["nsm_io", "nsm_lib"]
sgx = ["sgx_trts"]
std = ["getrandom", "nix"]
tz = ["optee-utee"]

[lib]
name = "platform_services"
path = "./src/lib.rs"

[dependencies]
cfg-if = "0.1.10"
getrandom = { version = "0.1.14", optional = true }
half = "=1.7.1"
nix = { version = "0.22", optional = true }
nsm_io = { git = "https://github.com/aws/aws-nitro-enclaves-nsm-api.git/", branch = "main", package = "nsm-io", optional = true }
nsm_lib = { git = "https://github.com/aws/aws-nitro-enclaves-nsm-api.git/", branch = "main", package = "nsm-lib", optional = true }
optee-utee = { git = "https://github.com/veracruz-project/rust-optee-trustzone-sdk.git", branch = "veracruz-v1", optional = true }
sgx_trts = { rev = "v1.1.2", git = "https://github.com/apache/teaclave-sgx-sdk.git", optional = true }

[profile.release]
codegen-units = 1
lto = true
opt-level = 3
