[package]
name = "platform-services"
version = "0.3.0"
authors = ["The Veracruz Development Team"]
edition = "2018"
description = "An abstraction layer for various isolation technologies.  Exposes a uniform interface to the various Veracruz libraries for accessing hardware/TEE-specific functionality that differs between isolation technology."

[features]
default = []
std = ["getrandom", "nix"]
sgx = ["sgx_trts"]
tz = ["optee-utee"]
nitro = ["nsm_io", "nsm_lib"]
icecap = []

[lib]
name = "platform_services"
path = "./src/lib.rs"

[dependencies]
cfg-if = "0.1.10"
getrandom = { version = "0.1.14", optional = true }
nix = { version = "0.22", optional = true }
nsm_lib = { git = "https://github.com/aws/aws-nitro-enclaves-nsm-api.git/", branch = "main", package="nsm-lib", optional = true }
nsm_io =  { git = "https://github.com/aws/aws-nitro-enclaves-nsm-api.git/", branch = "main", package = "nsm-io", optional = true }
sgx_trts = { rev = "v1.1.2", git = "https://github.com/apache/teaclave-sgx-sdk.git", optional = true }
optee-utee = { git = "https://github.com/veracruz-project/rust-optee-trustzone-sdk.git", branch = "veracruz", optional = true }

[profile.release]
lto=true
opt-level = 3
codegen-units = 1
